<%- include("partials/header"); -%>

  <h1><%=title%></h1>
  <p><%=content%></p>

  <a href="/delete" class="btn btn-danger">Delete Blog</a>
  <a href="/edit/<%= postId %>" class="btn btn-success">Edit Blog</a>

<%- include("partials/footer"); -%>
